<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Builder Version</key>
	<string>8537.73.11</string>
	<key>CFBundleDisplayName</key>
	<string>rotten_tomatoes</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.rottentomatoes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>Global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>test.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>tooltip_style.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>https://revolutiontt.me/browse.php*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Display Rotten Tomatoes score on RevolutionTT</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
