.tMeterIcon.tiny {
	display: inline-block;
	width: 53px;
	margin-left: 5px;
}

.icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: text-bottom;
	background: transparent url('images/rotten_tomatoes.png') no-repeat -312px -160px;
}

.tiny.rotten {
	background-position:-272px -142px;
}

.tiny.fresh {
	background-position:-256px -142px;
}

.tMeterScore {
	display: inline-block;
	width: 31px;
	text-align: center;
	font-weight: bold;
}

a.tooltip {outline:none;}
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span.tooltipinfo { z-index:10;display:none; padding:14px 20px; margin-top:-30px; margin-left:5px; width:240px; line-height:16px; }

a.tooltip:hover span.tooltipinfo {
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;
	/*pointer:arrow*/
}

.callout {
	z-index:20;
	position:absolute;
	top:30px;
	border:0;
	left:-12px;
}

a.tooltip span.tooltipinfo {
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 5px 5px 8px #CCC;
}

.ttcontainer {width:240px;}
.ttleft {float:left; width:75px; margin-right:5px;}
.ttright {float:right; width:160px;}
.clear {clear:both;}
.ttwide {width:240px; white-space:normal;}

